*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
.container{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    height: auto;
    width: 100%;
    


}
 /* header start */
.top-header1{
     height: 60px;
     width: 100%;
     background-image:url(../Asset/Images/top-cms-banner-1.jpg) ; 
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100% 100%;
     /* background-size: cover; */
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     color: white;
    
}
.top-header1 h1 span{
    color: #f4c340;
}
 .top-header1 button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #f4c340;
    color: white;
    font-weight: 700;
    font-size: 16px;

 }

 .top-header2{
    height: 40px;
    width: 100%;
    background-color: #2F6B51;
    display: flex;
 }
 .top-header2 .left{
     height: 100%;
     width: 50%;
    padding: 10px 30px;
    color: white;
 }
  .top-header2 .right{
     height: 100%;
     width: 50%;
     display: flex;
     align-items: center;
     gap: 30px;
     padding: 0 20px;
     color: white;
 }
 .top-header2 .right select{
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    position: relative;
 }
 .top-header2 .right select option{
   background-color: black;
   color: white;
 }
 .top-header2 .right span{
   position: relative;
   padding: 0 10px;
   cursor: pointer;
 }
 
 .top-header2 .right span::before{
    content: '|';
    color: white;
    position: absolute;
    left: -12px;
    opacity: .07;
 }


 .top-header3{
   height: 88px;
   width: 100%;
   background-color:#3B745B;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
 }
 .top-header3 img{
   height: 60%;
  
 }
 .top-header3 ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
 }
 .top-header3 ul li{
   padding: 20px;
 }
 .top-header3 ul li a{
   text-decoration: none;
   color: white;
 }
 .icon{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .call-icon{
   height: 50px;
   width: 50px;
   background-color: #2F6B51;
   border: 1px solid white;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   color: white;

 }
 .call-number{
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   margin-left: 10px;
   color: white;
   align-items: self-start;

 }
 /* header 4 */
 .top-header4{
   height: 70px;
   width: 100%;
   background-color: #3B745B;
   border-top: 1px solid rgb(164,164,164);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 .category-icon{
   height: 100%;
   display: flex;
   align-items: center;
 }
 .category-icon-logo{
   height: 50px;
   width: 50px;
   background-color: #2F6B51;
   border: 1px solid white;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .category-icon-logo i{
   font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
 }
 .category-icon select{
   padding: 16px;
   border: none;
   background-color: transparent;
   outline: none;
   color: white;
   font-size: 18px;
 }
 .category-icon select option{
   background-color: black;
   color: white;
 }
 .search-outer{
   height: 100%;
   width: 50%;

   display: flex;
   align-items: center;
   justify-content: center;
 }
 .search-outer #main-div{
   height: 80%;
   width: 90%;
   display: flex;
 }
 .search-outer #main-div input{
   padding: 18.3px;
   width: 500px;
   border-radius: 50px 0px 0px 50px ;
   outline: none;
   border: none;
   font-size: 16px;

 }
 .search-outer #main-div .icons-search{
   height: 100%;
   width: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: white;
   border-radius: 0px 50px 50px 0px;
   background-color: #f4c340;
 }
 .carts-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px;
   font-size: 35px;
   color: white;
 }
 .carts-icon i{
   position: relative;
 }
 .carts-icon #show{
   height:25px;
   width: 25px;
    background-color: #f4c340;
    font-size: 16px;
    position: absolute;
   bottom: 25px;
   left: 25px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-style: normal;
}
/* slider start */
.sliderContainer{
  height: auto;
  width:93%;
  margin: 20px auto;

}
.sliderContainer .mySwiper .swiper-slide img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.sliderContainer .mySwiper .swiper-slide {
  position: relative;
}
.sliderContainer .mySwiper .swiper-slide #organic-btn{
  position: absolute;
  top:10%;
  left: 7%;
  padding: 10px 20px;
  border-radius: 20px 0px 20px 0px;
  border: none;
  background-color: #FFFFFF;
  color: #337456;
  font-size: 16px;
  font-weight: 700;
}
.sliderContainer .mySwiper .swiper-slide p{
  position: absolute;
  left: 7%;
  top: 20%;
  font-size: 49px;
  font-weight: 700;
}
.sliderContainer .mySwiper .swiper-slide span{
  position: absolute;
  left: 7%;
  bottom: 42%;
  font-size: 19px;
}
.sliderContainer .mySwiper .swiper-slide #shop-now{

position: absolute;
bottom: 30%;
left: 7%;
padding: 10px 20px;
border-radius: 6px;
border: none;
background-color: #2F6B51;
color: white;
font-size: 16px;
font-weight: 700;
}
/* sliderFooter start */
.sliderFooter{
  height: 200px;
  width: 94%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.sliderFooter .card{
  height: 90%;
  width: 23%;
  background:white;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #F5F7FA;
  border-radius: 6px;
}
.sliderFooter .card i{
    margin-left: 10px;
    font-size: 50px;
    color: #2F6B51;
}
.sliderFooter .card p{
  font-size: 20px;
  color: gray;
}
/* category start */
.lst-cls{
  text-align: center;
  font-size: 22px;
  color: #2F6B51;
}
.sop-b-c{
  text-align: center;
}
.category{
  height: auto;
  width: 94%;
 margin: 20px auto; 
}
.category2{
  height: auto;
  width: 94%;
 margin: 20px auto; 
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.category2 .card2{
 height: 300px;
 width: 30%;
 background-color: aqua;
 margin-right: 20px;
 border-radius: 6px;
}
.category2 .card2:nth-child(1)
{
background-color: #D7DCE8;
}
.category2 .card2:nth-child(2)
{
background-color: #E1EACC;
}
.category2 .card2:nth-child(3)
{
background-color: #EBDBCE;
}


/* New Products Start */
.productContainer {
    height: 450px;
    width: 94%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.productContainer .card {
    height: 100%;
    width: 19%;
    box-shadow: 0 4px 8px 0 #d2d2d2;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #c0c0c0;
}

.productContainer .card .card-upper {
    height: 50%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productContainer .card .card-upper img {
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.productContainer .card .card-upper button {
    position: absolute;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 15px 0px 15px 0px;
    border: none;
    outline: none;
    top: 7px;
    left: 10px;
}


.productContainer .card .card-upper #colors {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   width: 50%;
   position: absolute;
   bottom: -10px;
}
.productContainer .card .card-upper #colors .color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 2px;
    cursor: pointer;
    visibility: hidden;
}
.productContainer .card .card-upper #colors .color:nth-child(1) {
    background-color: #FF0000;
}
.productContainer .card .card-upper #colors .color:nth-child(2) {
    background-color: #32086d;
}
.productContainer .card .card-upper #colors .color:nth-child(3) {
    background-color: #720548;
}
.productContainer .card:hover #colors .color{
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.productContainer .card .card-upper #icons {
    display: flex;
    flex-direction: column;
    color: grey;
    position: absolute;
    font-size: 20px;
    gap: 20px;
    top: 10px;
    visibility: hidden;
}

.productContainer .card:hover #icons {
    right: 0px;
    transform: translateX(-10px);
    transition: 0.3s ease-in-out;
    visibility: visible;
}

.productContainer .card .card-upper #icons i {
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 #d2d2d2;
}

.productContainer .card .card-lower {
    height: 50%;
    width: 100%;
}

.productContainer .card .card-lower b {
    color: grey;
    font-size: 14px;
    margin-left: 10px;
}

.productContainer .card .card-lower h4 {
    margin-left: 10px;
    margin-top: 10px;
}

.productContainer .card .card-lower h2 {
    margin-left: 10px;
    margin-top: 10px;
    color: #2F6B51;
}

.productContainer .card .card-lower button {
    padding: 15px 30px;
    width: 90%;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #EFEFEF;
    color: #2F6B51;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
}

.productContainer .card .card-lower button:hover {
    background-color: #2F6B51;
    color: white;
    transition: 0.3s;
}

.productContainer .card .card-lower i {
    font-size: 18px;
    color: goldenrod;
}

.productContainer .card:hover #Addcartbtn {
    background-color: #2F6B51;
    color: white;
    transition: 0.3s;
}
